<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>The incredible adventures of Valera</title>
        <link href="/valeragame/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body id = "body">
        <div id="name"><b><%= @stats.name %></b></div>
        <div id="doomguy"></div>
        <div id="stats">
            <table>
                <tr><th>Показатели:</th></tr>
                <tr><td>HP</td><td id="stat_hp"><%= @stats.health %></td></tr>
                <tr><td>MP</td><td id="stat_mp"><%= @stats.mana %></td></tr>
                <tr><td>Жизнерадостность</td><td id="stat_fun"><%= @stats.fun %></td></tr>
                <tr><td>Усталость</td><td id="stat_fatigue"><%= @stats.fatigue %></td></tr>
                <tr><td>КЭШ</td><td id="stat_money"><%= @stats.money %>$</td></tr>
            </table>
        </div>
        <div id="log">
            <table>
                <tbody id="log_table">
                    <tr><th>Лог</th></tr>
                </tbody>
            </table>
        </div>
        <!--<div id="menu" class="button sub">Меню</div>
        <div id="save" class="button sub">Сохранить</div> -->
        <div id="info">
            <table>
                <tbody>
                    <tr><th>Инфо</th></tr>
                    <tr><td id="info_table"><b><br>Тут отображается подробная информация<br>о ваших действиях</b></td></tr>
                    <tr><td id="info_stat_table"></td></tr>
                </tbody>
            </table>
        </div>
        <div id="Actions">
            <div id="work" class="button action">Пойти раздавать листовки</div>
            <div id="chill" class="button action">Посмотреть на природу</div>
            <div id="drink_vine" class="button action">Выпить вина</div>
            <div id="drink_in_bar" class="button action">Сходить в бар</div>
            <div id="drink_with_marginal" class="button action">Выпить с маргиналами</div>
            <div id="sing_in_metro" class="button action">Спеть в метро</div>
            <div id="play_dota" class="button action">Сыграть в дотку</div>
            <div id="sleep" class="button action">Лечь спать</div>
        </div>
        <script src="/valeragame/script.js"></script>
        <script>
            Valera = {
                "hp": <%= @stats.health %>, 
                "mp": <%= @stats.mana %>,
                "fun": <%= @stats.fun %>,
                "fatigue": <%= @stats.fatigue %>,
                "money": <%= @stats.money %>
            }
            
            main();
        </script>
    </body>
</html>