<link href="/valeragame/menu.css" rel="stylesheet" type="text/css" />
<h1>Start</h1>

<%= form_with url: "/saves", method: :post do |form| %>
  <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
  <%= form.label :query, "Введите имя персонажа:" %>
  <%= form.text_field :name %>
  <%= form.submit "Подтвердить", class: "actions" %>
<% end %>
<%= link_to "Back", root_path %>